<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US " }}">

<head>

    {% if site.google_analytics %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
    </script> {% endif %}
    <meta charset="UTF-8"> {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <style>
    body {
            font-family: 'Merriweather', serif;
        }
        h1 {
            font-family: "Josefin Sans", sans-serif;
        }
        h2, h3, h4, h5 {
            font-family: "Montserrat", sans-serif;
            font-weight: 600;
        }
        
        .realcontent  a:link, .realcontent  a:visited {
  color: black;
  text-decoration:none;
  transition: background .15s cubic-bezier(0.33, 0.66, 0.66, 1);
    border-bottom: 3px solid #b4e7f8;
    -webkit-box-shadow: inset 0 -4px 0 #b4e7f8;
    box-shadow: inset 0 -4px 0 #b4e7f8;
    
}

.realcontent  a:link:hover, .realcontent  a:link:active {
    background: #b4e7f8;
}</style>
</head>

<body>
    <div id="nav"></div>
    {% for category in site.categories %} {% assign cat = category[0] %}
    <h2>{{ cat }}</h2>
    <ul style="list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: #333; position: fixed; top: 0; width: 100%;">
        {% for post in site.categories[cat] %}
        <li style="float: left;"><a style="display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;" onMouseOver="this.style.background='#111'"
            onMouseOut="this.style.background='#333'"  href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
    {% endfor %}
    <div>

        <header class="page-header" role="banner">
            {% if page.title %}
            <h1 class="project-name">{{ page.categories[0] }}: {{ page.title }}</h1>
            {% if page.description %}
            <h2 class="project-tagline">{{ page.description }}</h2>
            {% endif %} {% if page.link %}
            <a href="{{ page.link }}" class="btn">Code on GitHub</a>
            {% endif %} {% else %}
            <h1 class="project-name">{{ site.title }}</h1>
            <h2 class="project-tagline">{{ site.description }}</h2>
            <a href="{{ site.github_url }}" class="btn">View on GitHub</a>
            <a href="{{ site.linkedin_url }}" class="btn"> LinkedIn</a>
            <a href="{{ site.khan_url }}" class="btn"> Khan Academy</a>
            {% endif %}
        </header>

        <main id="content" class="main-content" role="main">
                <div class="realcontent">
                        {% if page.link %}
            <a id="skip-to-content" href="#code">Skip to code</a>
            {% endif %} 
                    {{ content }} 
                </div>
                {% if page.link %}
            <div id="code">
                <p><br></p>
                <script src={{ "http://gist-it.appspot.com/" | append: page.link }}></script>
            </div>
            {% endif %}            
            {% if page.link and page.short %}
                    <footer class="site-footer realcontent">
                {% if page.categories %}
                <span class="site-footer-owner"><a href="{{ page.link }}">{{ page.categories[0] }} - {{ page.short }}</a>
                    is created by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
                {% else %}
                <span class="site-footer-owner"><a href="{{ page.link }}">{{ page.short }}</a> is created by <a href="{{ site.github.owner_url }}">{{
                        site.github.owner_name }}</a>.</span>
                {% endif %}
            </footer>
        {% else %}
            <footer class="site-footer realcontent">
                <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name
                        }}</a> is created by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
            </footer>
            {% endif %}
    </main>
</body>

</html>