<!DOCTYPE html>
<html lang="en-US">
    <head>
        <link rel="stylesheet" type="text/css" href="{{'/assets/css/style.css' | relative_url}}">
        <link rel="stylesheet" type="text/css" href="{{'/assets/css/site.css' | relative_url}}">
        <link rel="stylesheet" type="text/css" href="{{'/assets/css/prism.css' | relative_url}}">

        {% if site.google_analytics %}
            <script async="async" src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag('js', new Date());
                gtag('config', '{{ site.google_analytics }}');
            </script>
        {% endif %}
        {% if page.chapter and page.section %}

        <script type="text/javascript">
            let typeToName = {
                'pas': 'Pascal',
                'cpp': 'C++',
                'java': 'Java'
            }
            function getCode (type) {
                document.getElementById('code').innerHTML+="<br>"+(type=='java'?"<h2>CODE</h2>":"")+"<details><summary>"+typeToName[type]+"</summary><pre class = 'line-numbers language-" + (type=='pas'?'pascal':type) +"' data-src='"+"{{'https://raw.githubusercontent.com/jvonk/USACO/master/Chapter_' | append: page.chapter | append: '/'  | append: page.short | append: '/' | append: page.short}}".concat('.'+type)+"'></pre></details>";
            }
            document.addEventListener('DOMContentLoaded', function () {
                getCode('java');
                getCode('cpp');
                getCode('pas');
            });
        </script>
        {% endif %}
        <meta charset="UTF-8"> {% seo %}
        <meta name="google-site-verification" content="a_1tMrUlVNqdFzDGwh_T1IpHoH9qeFrNoVkUBOmi9j0" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#157878">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    </head>
    <body>
        <div class="navbar">
            <a href="{{site.url}}">Home</a>
            {% for post in site.pages %}
                {% if post.title %}
                    <a href="{{ post.url }}">
                        {{ post.title }}
                    </a>
                {% endif %}
            {% endfor %}
            {% for category in site.categories %}
                {% assign cat = category[0] %}
                <div class="dropdown">
                    <button class="dropbtn">
                        {{ cat | upcase }}</button>
                    <i class="fa fa-caret-down"></i>
                    <div class="dropdown-content">
                        {% if cat=="USACO" %}
                        {% assign starts = "2 1 1" | split: " " %}
                        {% assign ends = "6 4 4" | split: " " %}
                            {% for chapter in (1..starts.size) %}
                                <div class="dropdown">
                                    <button class="dropbtn">CHAPTER {{ chapter }}<i class="fa fa-caret-down"></i>
                                    </button>
                                    <div class="dropdown-content">

        <div class="navbar">{% assign chapterInArr = chapter | minus: 1 %}
                                        {% for section in (starts[chapterInArr]..ends[chapterInArr]) %}
                                            <div class="dropdown">
                                                <button class="dropbtn">Section {{ section }}<i class="fa fa-caret-down"></i>
                                                </button>
                                                <div class="dropdown-content">
                                                    {% for post in site.categories[cat] %}
                                                        {% if post.chapter==chapter and post.section==section %}
                                                            <a href="{{ post.url }}">
                                                                {% if post.short %}
                                                                    {{post.short}} -
                                                                {% endif %}
                                                                {{post.title}}
                                                            </a>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endfor %}

                                    </div>
                                    </div>
                                </div>
                            {% endfor %}
                            {% else %}
                            {% for post in site.categories[cat] %}
                                <a href="{{ post.url }}">
                                    {% if post.short %}
                                        {{post.short}} -
                                    {% endif %}
                                    {{post.title}}
                                </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <header class="page-header" role="banner">
            {% if page.title and page.categories %}
                <h1 class="project-name">
                    {{ page.title }}</h1>
                    <div class="post-categories">
                  {% if post %}
                    {% assign categories = post.categories %}
                  {% else %}
                    {% assign categories = page.categories %}
                  {% endif %}
                  {% for category in categories %}
                  <h2><a href="{{site.url}}#{{category|slugize}}">{{category | upcase}}</a></h2>
                  {% unless forloop.last %} {% endunless %}
                  {% endfor %}
                </div>
                {% if page.description %}
                    <h2 class="project-tagline">
                        {{ page.description }}</h2>
                {% endif %}
                {% if page.chapter and page.section %}
                <a href="{{ 'https://github.com/jvonk/USACO/blob/master/Chapter_' | append: page.chapter | append: '/'  | append: page.short | append: '/' | append: page.short | append: '.java'  }}" class="btn">Code on GitHub</a>
                {% endif %}

                {% else %}
                <h1 class="project-name">
                    {{ site.title }}</h1>
                <h2 class="project-tagline">
                    {{ site.description }}</h2>
                <a href="{{ site.github_url }}" class="btn">View on GitHub</a>
                <a href="{{ site.linkedin_url }}" class="btn">
                    LinkedIn</a>
                <a href="{{ site.khan_url }}" class="btn">
                    Khan Academy</a>
            {% endif %}
        </header>
        <main id="content" class="main-content" role="main">
            <div class="realcontent">
                {% if page.chapter and page.section %}
                <a id="skip-to-content" href="#code">Skip to code</a><br><br>
                    <em>Following is a explanation of this problem from USACO's training website. Please don't just copy code!</em>
                {% endif %}
                {{ content }}
            </div>
            {% if page.chapter and page.section %}
                <div id="code"></div>
                <script src="{{'/assets/js/prism.js' | relative_url}}"></script>
            {% endif %}
            {% if page.link and page.short %}
                <footer class="site-footer realcontent">
                    {% if page.categories %}
                        <span class="site-footer-owner">
                            <a href="{{ page.link }}">
                                {{ page.categories[0] }} - {{ page.short }}</a>
                            is created by
                            <a href="{{ site.github.owner_url }}">
                                {{ site.github.owner_name }}</a>
                            .
                        </span>
                    {% else %}
                        <span class="site-footer-owner">
                            <a href="{{ page.link }}">
                                {{ page.short }}</a>
                            is created by
                            <a href="{{ site.github.owner_url }}">
                                {{site.github.owner_name }}</a>
                            .
                        </span>
                    {% endif %}
                </footer>
                {% else %}
                <footer class="site-footer realcontent">
                    <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is created by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
                </footer>
            {% endif %}
        </main>
    </body>
</html>
