html {
  font-family: Roboto,sans-serif;
  text-size-adjust: 100%;
  font-size: 16px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}


img:not(#link) {
  max-width:500px;
  width:100%;
  display: block;
  margin: 0 auto;
}
/*a {
  text-decoration: none;  
}
a:link {
  color: #4078c0;
  text-decoration: none;
}
a:visited {
  color: #4078c0;
}
a:hover {
  text-decoration: underline;
}*/

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 5rem;
  font-weight: 600;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 600;
}
h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 600;
}
h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
}
h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
}

p {
  font-size: 1rem;
  font-family: 'Merriweather', serif;
}

a:link, a:visited {
  color: black;
  text-decoration:none;
  transition: background .15s cubic-bezier(0.33, 0.66, 0.66, 1);
    border-bottom: 3px solid #b4e7f8;
    -webkit-box-shadow: inset 0 -4px 0 #b4e7f8;
    box-shadow: inset 0 -4px 0 #b4e7f8;
    
}

a:link:hover, a:link:active {
    background: #b4e7f8;
}